<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="系统开发中">
    <meta name="author" content="weiming">
    <meta name="keywords" content="系统开发中">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>系统开发中</title>
    <link rel="stylesheet" href="__STATIC__/common/css/welcome.css?v={$version}">
</head>
<body>
<div id='app'>
</div>

    <!-- 底部-->
    <footer class="site-footer">
        <div class="container">
            <p class="protocol">{$data.description|default=''}</p>
            <p class="beian-number">{$data.system_description|default=''}</p>
            <p>Website development</p>
        </div>
    </footer>
</div>
</body>
</html>
