<div class="layuimini-container">
    <div class="layuimini-main" id="app">

        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
            <ul class="layui-tab-title">
                <li class="layui-this">CPD</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form id="app-form" class="layui-form layuimini-form">

                        <div class="layui-form-item">
                            <label class="layui-form-label">标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" class="layui-input" lay-verify="required" value="{$data.title|raw|default=''}">
                                <tip>标题不能为空</tip>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">文案</label>
                            <div class="layui-input-block">
                                <textarea type="text" rows="5" name="content" class="layui-textarea">{$data.content|raw|default=''}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label required">图片</label>
                            <div class="layui-input-block layuimini-upload">
                                <input name="img" class="layui-input layui-col-xs6"   placeholder="请上传图片" value="{$data.image|raw|default=''}">
                                <div class="layuimini-upload-btn">
                                    <span><a class="layui-btn" data-upload="img" data-upload-number="one" data-upload-exts="png|jpg|ico|jpeg" data-upload-icon="image"><i class="fa fa-upload"></i> 上传</a></span>
                                    <span><a class="layui-btn layui-btn-normal" id="select_image" data-upload-select="image" data-upload-number="one" data-upload-mimetype="image/*"><i class="fa fa-list"></i> 选择</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">按钮</label>
                            <div class="layui-input-block">
                                <input type="text" name="button" class="layui-input" value="{$data.button|raw|default=''}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">跳转链接</label>
                            <div class="layui-input-block">
                                <input type="text" name="link" class="layui-input" value="{$data.link|raw|default=''}">
                            </div>
                        </div>
                        <div class="hr-line"></div>
                        <div class="layui-form-item text-center">
                            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="site.indexModel/save?id=2" data-refresh="false">确认</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>